<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.maitaole.mapper.WearDegreeInfoMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.maitaole.bean.WearDegreeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="detailed" jdbcType="VARCHAR" property="detailed" />
    <result column="attribute_id" jdbcType="INTEGER" property="attributeId" />
    <result column="weights" jdbcType="INTEGER" property="weights" />
  </resultMap>
  <sql id="Base_Column_List">
    id, describes, detailed, attribute_id, weights
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wear_degree_info
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAllByAttributeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wear_degree_info
    where attribute_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="findById"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wear_degree_info
    where id = #{id}
  </select>
</mapper>